.content-box {
    position: relative;
    /*align-items: center;*/
    /*flex-direction: column;*/
    align-items: flex-start;
    width: 60%;
    height: 320px;
    background-color: #3c5a73;
    overflow: hidden;
    border-radius: 10px;
    border: none;
    padding: 20px;
    margin: auto;
}

.translation-box {
    text-align: left;
    margin-bottom: 10px;
}

.label-box {
    font-size: 18px;
}

.user-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*min-width: ;*/
}

.user-answer {
    position: absolute;
    bottom: 0;
    width: 70%;
    background-color: #0b2a4f;
    color: #eeeeee;
}

.button-answer {
    position: absolute;
    bottom: 0;
    right: 5%;
    margin: 10px;
}

.button-reset {
    position: absolute;
    top: 0;
    right: 2%;
    margin: 10px;
}

.sticky-box {
    position: sticky;
    top: 0;
    background-color: rgba(18, 27, 65, 0.15);
    padding: 10px; /* Отступ для улучшения внешнего вида */
}

.color-translation-title {
    color: rgba(208, 213, 229, 0.8);
}

.title-color {
    color: rgba(105, 108, 148, 0.7);
}

.error-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.button-continue {
    position: absolute;
    bottom: 0;
    right: 3%;
    margin: 10px;
}

.success-answer {
    background-color: #217e3b;
    color: #faf7f7;
    font-size: 18px;
    width: 73%;
}

.error-answer {
    background-color: #7e0404;
    color: #faf7f7;
    font-size: 18px;
    width: 70%;
}