.body-wrapper {
    width: 80%; /* Ширина обертки */
    height: 90%; /* Увеличьте высоту  */
    margin: 0 auto; /* Центрирование обертки по горизонтали */
    padding: 20px; /* Отступы внутри обертки по вашему выбору */
    background-color: rgba(255, 255, 255, 0.97); /* Цвет фона обертки */
    /* Добавление тени */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Горизонтальное смещение, вертикальное смещение, размытие, цвет */
}