.body-wrapper {
    width: 80%; /* Ширина обертки */
    height: 90%; /* Увеличьте высоту  */
    margin: 0 auto; /* Центрирование обертки по горизонтали */
    padding: 20px 40px 20px 20px; /* Отступы внутри обертки по вашему выбору */
    color: #eeeeee;
    background-color: rgba(18, 27, 65, 0.97); /* Цвет фона обертки */
    /* Добавление тени */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Горизонтальное смещение, вертикальное смещение, размытие, цвет */
    border-radius: 15px; /* Закругление углов */
    font-family: sans-serif;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.94);
    text-shadow: 2px 2px 4px rgba(7, 7, 7, 0.5);
}


input {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.red-button {
    background-color: #d00505;
}

.green-button {
    background-color: green;
}

.right-button {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* Распределить кнопки по краям контейнера */
    align-items: center; /* Выравнивание по вертикали по центру */
}

.button-inline {
    display: inline-block;
}

.button-center {
    display: flex;
    justify-content: space-evenly;

}

.error-message {
    color: red;
}

.success-message {
    color: #03d738;
}

.info-message {
    color: #4ac1f7;
}

.success-answer {
    background-color: #217e3b;
    color: #faf7f7;
    font-size: 18px;
    width: 300px;
}

.error-answer {
    background-color: #7e0404;
    color: #faf7f7;
    font-size: 18px;
    width: 300px;
}

.text-center {
    text-align: center;
}

.label-box {
    font-size: 18px;
}

.content-box {
    display: flex;
    justify-content: center;
}

.sticky-box {
    position: sticky;
    top: 0;
    background-color: rgba(18, 27, 65, 0.15);
    padding: 10px; /* Отступ для улучшения внешнего вида */
}