{% extends 'base.html' %}

{% block content %}
    <div>
    <h1> Import Words</h1>
        <p>
            <a href="{% url 'words:add_new_words' %}">
                 <button type="submit" class="red-button">Cancel Import</button>
            </a>
        </p>
        <form method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>

            <div><p> Select Dictionary: {{ form.dictionary }}</p></div>

            <div><p>Import Words: {{ form.text }}</p></div>

            <div>Separator: {{ form.sep_choice }} <p>{{ form.custom_sep }}</p> </div>

            <button type="submit" class="green-button">Import Words</button>

        </form>

    </div>
{% endblock %}