{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'my_project/css/dictionary_details.css' %}">
{% endblock %}

{% block content %}

    <h1>{{ dictionary.title }} | total words: {{ dictionary.count_words }}</h1>

    <div class="time-created">
        <span>Created: {{ dictionary.created_at|date:"Y-m-d H:i" }}</span>

        <div class="centered-image">
            {% if dictionary.image %}
                <img src="{{ object.image.url }}" alt="dictionary image">
            {% else %}
                <img src="{% static 'my_project/dictionary/img/words_header.png' %}" alt="dictionary image">
            {% endif %}
        </div>

        <span>Updated: {{ dictionary.updated_at|date:"Y-m-d H:i" }}</span>
    </div>


    <div class="button-container">
        <a href="{% url 'words:repeat_words' dictionary.slug %}">
            <button type="button">Repeat Dictionary</button>
        </a>

        <a href="#">
            <button type="button">Study Dictionary</button>
        </a>

        <a href="{% url 'words:update_dictionary' dictionary.slug %}">
            <button type="button">Change Dictionary</button>
        </a>

        <a href="{% url 'words:add_new_words' %}">
            <button type="button">Add New Pair</button>
        </a>

        <a href="{% url 'words:delete_dictionary' dict_slug %}">
            <button type="button" class="delete-button">Delete Dictionary</button>
        </a>
    </div>



    <div class="words">
        <ul>
            {% for pair in word_list %}
                <li>
                    <div class="word-pair">
                        <span class="word">{{ pair.original }}</span>
                        <span class="separator"> | </span>
                        <span class="word">{{ pair.translation }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}