{% extends 'base.html' %}

{% block content %}

    {% if dictionary_list %}

        <h1> Your Dictionaries </h1>

        <div>
            {% for dictionary in dictionary_list %}

                <p>
                    <a href="{{ dictionary.get_absolute_url }}">
                        <button type="submit">
                            {{ dictionary.title }}
                            <br> words: {{ dictionary.count_words }}
                            <br> Look Dictionary
                        </button>
                    </a>

                    <button type="button" onclick="location.href='{% url 'words:repeat_words' dictionary.slug %}'">
                        {{ dictionary.title }}
                        <br> words: {{ dictionary.count_words }}
                        <br> Repeat Dictionary
                    </button>
                </p>

            {% endfor %}
        </div>

    {% else %}

        <h1>You don't have dictionaries yet</h1>

        <a href="{% url 'words:add_dictionary' %}">
            <button type="button">Create Dictionary</button>
        </a>

    {% endif %}

{% endblock %}