{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div>
        <h1>Dictionary: {{ dictionary.title }}</h1>
        Created: {{ dictionary.created_at }}

        {% if dictionary.image %}
            <img src="{{ object.image.url }}" alt="dictionary image">
        {% else %}
            <img src="{% static 'my_project/dictionary/img/words_header.png' %}" alt="dictionary image"
                 width="100" height="50">
        {% endif %}
    </div>

    <div>
        <ul>
            {% for pair in word_list %}
                <li> {{ pair.original }} - {{ pair.translation }} </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}