{% extends 'base.html' %}

{% block content %}
    <h1 class="title-color">Study: {{ title }}</h1>

    <div class="content-box">

        <form method="post">
            {% csrf_token %}

            <div class="translation-box">
                <h3>
                    <span class="color-translation-title">Enter translation for:</span>
                    {{ custom_messages.translation }}
{#                    {{ translation }}#}
                </h3>
            </div>
            <br>
            <div class="label-box">
                <span class="color-translation-title">{{ form.user_answer.label_tag }} </span>
                <p>{{ form.user_answer }}</p>
            </div>

            <p class="button-inline">
                    <a href="{{ user_answer_url }}">
                        <button type="submit">Answer</button>
                    </a>
                    {#                    <a href="{{ reset_url }}">#}
                    {#                        <button type="button" class="red-button">RESET</button>#}
                    {#                    </a>#}
                </p>
        </form>
    </div>


    <script>
        // отключение автозаполнения при вводе
        document.getElementById("id_user_answer").setAttribute("autocomplete", "off");
    </script>
{% endblock %}
