{% extends 'base.html' %}

{% block content %}
    <div class="content-box">

        <form method="post">
            {% csrf_token %}
            {#                <div class="sticky-box">#}
            {#                    {% if messages %}#}
            {#                        {% for message in messages %}#}
            {#                            {% if message.tags == 'info' %}#}
            {#                                <h3 class="info-message"> {{ message }}</h3>#}
            {#                            {% endif %}#}
            {#                        {% endfor %}#}
            {#                    {% endif %}#}
            {#                </div>#}

            <div class="translation-box">
                <h3>{{ translation }}</h3>
            </div>
            <br>
            <div class="label-box">
                <span>{{ form.user_answer.label_tag }} </span>
            </div>

            <div class="input-box">
                <span>{{ form.user_answer }}</span>
                <p class="button-inline">
                    <button type="submit">Send</button>
                    <a href="{{ reset_url }}">
                        <button type="button" class="red-button">RESET</button>
                    </a>
                </p>
            </div>


            <div class="sticky-box">
                {% if messages %}
                    {% for message in messages %}

                        {% if message.tags == 'info' %}

                            {% if forloop.counter == 1 %}
                                <h3>previous word: {{ message.message }}</h3>
                            {% elif forloop.counter == 2 %}
                                <h3>{{ message.message }}</h3>
                            {% endif %}
                            <br>
                        {% elif message.tags == 'success' %}
                            <h3>correct answer:</h3>
                            <input type="text" value="{{ message }}" class="success-answer" readonly>
                        {% elif message.tags == 'error' %}
                            <h3>Oops..wrong.</h3>
                            <input type="text" value="{{ message }}" class="error-answer" readonly>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}
