<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}
</head>
<body>

{% block menu %}
    <div class="header">
        <ul id="mainmenu" class="mainmenu">
            <li><a href="{% url 'home' %}">Главная страница</a></li>

            <li class="authenticated">
                {% if request.user.is_authenticated %}
                    <li class="last"><a href="{% url "users:profile" user.id %}">{{ user.username }}</a> 
                        |
                        <a href="{% url 'users:logout' %}">Выйти</a></li>
                    {% if request.user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">
                            <button>AdminSite</button>
                        </a></li>
                    {% endif %}
                {% else %}
                    <a href="{% url 'users:signup' %}">Регистрация</a> | <a href="{% url 'users:login' %}">Войти</a>
                {% endif %}

            </li>
        </ul>
    </div>
{% endblock %}


{% block content %} {% endblock %}

</body>
</html>