{% extends "base.html" %}

{% block content %}

    <div>
        <h1>Profile {{ user.username }}</h1>
        <form action="{% url 'users:profile' user.id %}" method="post">
            {% csrf_token %}
            <div>
                <p>
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    {{ form.username }}
                </p>
            </div>
            <div>
                <p>
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                </p>
            </div>
            <div>
                <p>
                    <label for="{{ form.phone.id_for_label }}">Phone</label>
                    {{ form.phone }}
                </p>
            </div>

            <div>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock %}