{% extends "base.html" %}

{% block content %}

    <div>
        <h1>Profile {{ user.username }}</h1>
        <form action="{% url 'users:profile' user.id %}" method="post">
            {% csrf_token %}
            <div>
                <p>{{ form.username.label }} {{ form.username }}</p>
            </div>
            <div>
                <p> {{ form.email.label }} {{ form.email }}</p>
            </div>
            <div>
                <p> {{ form.phone.label }} {{ form.phone }}</p>
            </div>

            <div>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock %}