<div class="container">
    <div class="card" id="card">
        <div class="front">
            <div class="original center">
                <h1>{{ word.original }}</h1>
            </div>
        </div>
        <div class="back">
            <div class="translation center">
                <h1>{{ word.translation }}</h1>
            </div>
        </div>
    </div>

    <div class="buttons-card">
        <button id="prevBtn" class="button-previous">
            <i class="fa fa-arrow-left"></i>
        </button>
        <div id="wordCount" class="count-words">0/0</div>
        <button id="nextBtn" class="button-next">
            <i class="fa fa-arrow-right"></i>
        </button>
    </div>
</div>

<script>
    const card = document.getElementById('card');
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');
    const wordList = {{ word_data|safe }};
    const wordCountElement = document.getElementById('wordCount');
    const totalWords = wordList.length; // Общее количество слов
    let currentIndex = 0;
    let isFlipped = false;

    function showCard(index) {
        const word = wordList[index];
        document.querySelector('.original h1').textContent = word.original;
        document.querySelector('.translation h1').textContent = word.translation;
        isFlipped = false;
        card.classList.remove('is-flipped');

        const currentIndexDisplay = index + 1;
        wordCountElement.textContent = `${currentIndexDisplay}/${totalWords}`;

        // Проверка, можно ли нажать кнопку "Previous" и "Next"
        if (currentIndex === 0) {
            prevBtn.classList.add('button-disabled');
        } else {
            prevBtn.classList.remove('button-disabled');
        }
        if (currentIndex === wordList.length - 1) {
            nextBtn.classList.add('button-disabled');
        } else {
            nextBtn.classList.remove('button-disabled');
        }
    }

    prevBtn.addEventListener('click', function () {
        if (currentIndex > 0) {
            currentIndex--;
            showCard(currentIndex);
        }
    });

    nextBtn.addEventListener('click', function () {
        if (currentIndex < wordList.length - 1) {
            currentIndex++;
            showCard(currentIndex);
        }
    });

    showCard(currentIndex);

    card.addEventListener('click', function () {
        if (isFlipped) {
            document.querySelector('.original h1').textContent = wordList[currentIndex].original;
        } else {
            document.querySelector('.translation h1').textContent = wordList[currentIndex].translation;
        }
        isFlipped = !isFlipped;
        card.classList.toggle('is-flipped');
    });
</script>
{#    <div id="wordData" data-word_data="{{ word_data|escapejs|safe }}"></div>#}
{#    <script src="{% static 'my_project/js/words_cards.js' %}"></script>#}
